.marginless {
  margin-top: 0;
}

[data-bs-theme="dark"] {
  color-scheme: unset;
}

.bd-navbar .dropdown-menu-end {
  --bs-dropdown-min-width: 8rem;
}

.bd-navbar .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: .25rem;
  --bs-dropdown-padding-y: .25rem;
  --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), .1);
  --bs-dropdown-link-active-bg: rgba(var(--bd-violet-rgb), 1);
  --bs-dropdown-font-size: .875rem;
  font-size: .875rem;
  border-radius: .5rem;
  box-shadow: var(--bs-box-shadow);
}
